/**
 *
 * @author dongntd267@gmail.com on 26/07/2024.
 *
 */

@import 'tailwindcss';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant hover (&:hover);

@theme {
    --breakpoint-xs: 30rem; /* 480px */
    --breakpoint-mobile: 30rem; /* 480px */
    --breakpoint-tablet: 40rem; /* 640px */
    --breakpoint-laptop: 64rem; /* 1024px */
    --breakpoint-desktop: 88rem; /* 1280px */
    --color-cam: #ff7f50;
}

@theme inline {
    --color-tw-primary: var(--color-custom-primary);
}

@layer base {
    :root {
        --color-custom-primary: var(--color-blue-500);
    }
    /* Theme dark */
    [data-theme="dark"] {
        --color-custom-primary: var(--color-blue-400);
    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        overscroll-behavior: none;
        scroll-behavior: smooth;
    }
    html {
        overflow: hidden auto;
        overscroll-behavior: none;
        scroll-behavior: smooth;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        font-size: 16px; /* 1rem */
    }
    :root {
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
        user-select: none;
    }
}

@layer utilities {
    /* Light theme */
    .scrollbar-thin {
        scrollbar-width: thin;
    }
    .scrollbar-hidden {
        scrollbar-width: none; /* Ẩn thanh cuộn trên Firefox */
    }
    .scrollbar-hidden::-webkit-scrollbar-track {
        display: none; /* Ẩn thanh cuộn trên Chrome, Edge, Safari */
    }
    .scrollbar-custom::-webkit-scrollbar-track {
        background: var(--color-gray-200);
        border-radius: 10px;
    }
    .scrollbar-custom::-webkit-scrollbar-thumb {
        background: var(--color-gray-500);
        border-radius: 10px;
    }
    .scrollbar-custom::-webkit-scrollbar-thumb:hover {
        background: var(--color-gray-600);
    }
    .scrollbar-custom::-webkit-scrollbar-thumb:active {
        background: var(--color-gray-600);
    }

    /* Dark theme */
    [data-theme='dark'],
    .dark {
        .scrollbar-custom::-webkit-scrollbar-track {
            background: var(--color-gray-800);
        }
        .scrollbar-custom::-webkit-scrollbar-thumb {
            background: var(--color-gray-600);
        }
        .scrollbar-custom::-webkit-scrollbar-thumb:hover {
            background: var(--color-gray-400);
        }
    }
}
