/**
 *
 * @author dongntd267@gmail.com
 *
 */

@import 'vuetify/styles';
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant hover (&:hover);

@layer vuetify,tailwind-base, tailwind-utilities;

@theme {
    --breakpoint-xs: 30rem; /* 480px */
    --breakpoint-mobile: 30rem; /* 480px */
    --breakpoint-tablet: 40rem; /* 640px */
    --breakpoint-laptop: 64rem; /* 1024px */
    --breakpoint-desktop: 88rem; /* 1408px */
}

@theme inline {
    --color-main: var(--color-custom-main);
    --color-danger: var(--color-custom-danger);
    --color-warning: var(--color-custom-warning);
    --color-success: var(--color-custom-success);
    --color-info: var(--color-custom-info);
    --muted-foreground: oklch(0.556 0 0);
}

@layer base {
    --color-custom-main: theme(colors.blue.800);
    --color-custom-danger: theme(colors.red.500);
    --color-custom-warning: theme(colors.amber.500);
    --color-custom-success: theme(colors.green.500);
    --color-custom-info: theme(colors.blue.500);
    --color-scrollbar-thumb: var(--muted-foreground);
    --color-scrollbar-track: transparent;

    :root {
        --color-custom-start: var(--color-blue-500);
    }
    /* Theme dark */
    [data-theme='dark'],
    .dark {
        --color-custom-main: theme(colors.blue.400);
        --muted-foreground: oklch(0.708 0 0);
    }

    * {
        @apply m-0 box-border p-0;
    }
    button {
        @apply select-none;
    }
    body {
        @apply overscroll-none scroll-smooth;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    html {
        @apply overflow-x-hidden overflow-y-auto overscroll-none scroll-smooth;
        font-size: 16px; /* 1rem */
    }
    :root {
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
        user-select: none;
    }
    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    }
}

@layer utilities {
    /*.scrollbar-thin {*/
    /*    scrollbar-width: thin;*/
    /*}*/
    /*.scrollbar-thin::-webkit-scrollbar {*/
    /*    width: 6px;*/
    /*    height: 6px;*/
    /*}*/
    /*.scrollbar-hidden {*/
    /*    scrollbar-width: none; !* Firefox *!*/
    /*}*/
    /*.scrollbar-hidden::-webkit-scrollbar-track {*/
    /*    display: none; !* Chrome, Edge, Safari *!*/
    /*}*/
    /*.scrollbar-custom {*/
    /*    scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track);*/
    /*}*/

    /* Theme light */
    .scrollbar-thin {
        scrollbar-width: thin;
    }
    .scrollbar-hidden {
        scrollbar-width: none; /* Firefox */
    }
    .scrollbar-hidden::-webkit-scrollbar-track {
        display: none; /* Chrome, Edge, Safari */
    }
    .scrollbar-custom::-webkit-scrollbar-track {
        background: var(--color-gray-200);
        border-radius: calc(var(--spacing) * 2.5);
    }
    .scrollbar-custom::-webkit-scrollbar-thumb {
        background: var(--color-gray-500);
        border-radius: calc(var(--spacing) * 2.5);
    }
    .scrollbar-custom::-webkit-scrollbar-thumb:hover {
        background: var(--color-gray-600);
    }
    .scrollbar-custom::-webkit-scrollbar-thumb:active {
        background: var(--color-gray-600);
    }

    /* Theme dark */
    [data-theme='dark'],
    .dark {
        .scrollbar-custom::-webkit-scrollbar-track {
            background: var(--color-gray-800);
        }
        .scrollbar-custom::-webkit-scrollbar-thumb {
            background: var(--color-gray-600);
        }
        .scrollbar-custom::-webkit-scrollbar-thumb:hover {
            background: var(--color-gray-400);
        }
    }
}
