/**
 *
 * @author dongntd267@gmail.com on 26/07/2024.
 *
 */

@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant hover (&:hover);

@theme {
    --breakpoint-xs: 30rem; /* 480px */
    --breakpoint-mobile: 30rem; /* 480px */
    --breakpoint-tablet: 40rem; /* 640px */
    --breakpoint-laptop: 64rem; /* 1024px */
    --breakpoint-desktop: 88rem; /* 1280px */
    --color-cam: #ff7f50;
}

@layer base {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        overscroll-behavior: none;
        scroll-behavior: smooth;
    }
    html {
        overflow: hidden auto;
        overscroll-behavior: none;
        scroll-behavior: smooth;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        font-size: 16px; /* 1rem */
    }
    :root {
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        user-select: none;
    }
}

@layer utilities {
    /* Light theme */
    .scrollbar-thin {
        scrollbar-width: thin;
    }
    .scrollbar-hidden {
        scrollbar-width: none; /* Ẩn thanh cuộn trên Firefox */
    }
    .scrollbar-hidden::-webkit-scrollbar-track {
        display: none; /* Ẩn thanh cuộn trên Chrome, Edge, Safari */
    }
    .scrollbar-custom::-webkit-scrollbar-track {
        background: #e5e7eb; /* bg-gray-200 */
        border-radius: 10px;
    }
    .scrollbar-custom::-webkit-scrollbar-thumb {
        background: #6b7280; /* bg-gray-500 */
        border-radius: 10px;
    }
    .scrollbar-custom::-webkit-scrollbar-thumb:hover {
        background: #4b5563; /* bg-gray-600 */
    }
    .scrollbar-custom::-webkit-scrollbar-thumb:active {
        background: #4b5563; /* bg-gray-600 */
    }

    /* Dark theme */
    .dark .scrollbar-custom::-webkit-scrollbar-track {
        background: #1e293b; /* bg-gray-800 */
    }
    .dark .scrollbar-custom::-webkit-scrollbar-thumb {
        background: #475569; /* bg-gray-600 */
    }
    .dark .scrollbar-custom::-webkit-scrollbar-thumb:hover {
        background: #64748b; /* bg-gray-400 */
    }
}
